@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
    background:#ddd;
    font-family:Open Sans;
}

#timer{
    margin:30px auto 0;
    width:400px;
}


#timer .container{
    display:table;
    background:green;
    color:#eee;
    font-weight:bold;
    width:100%;
    text-align:center;
    text-shadow:1px 1px 4px #999;
}


#timer .container div{
    display:table-cell;
    font-size:60px;
    padding:10px;
    width:20px;
}

#timer .container .divider{
    width:10px;
    color:#ddd;
}

#btn-start{
    box-sizing:border-box;
    background:#eee;
    border:none;
    margin:0 auto;
    padding:20px;
    width:100%;
    font-size:30px;
    color:#777;
}

#btn-start:hover{
    background:#fff;
}
